# system
.DS_Store

# cache
*.pyc
**/__pycache__
.cache
**/*cache*

# test
.coverage*
coverage.xml
report.xml
testdata

# doc
public

# package
build
dist
*.so

# data
*.csv

# env
requirements.txt
venv

# security
bom.json


# data
*.csv

# env
requirements.txt
venv

# security
bom.json
